<% include ./partials/_head %>

<h2>New Quote</h2>

<form method="POST" action="/quotes">

  <input type="text" name="quote">

  <input type="submit" value="Add Quote">
  
</form>



</body>
</html>

